---
http_interactions:
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/webhooks
    body:
      encoding: UTF-8
      string: '{"url":"https://vcr-test.example.com/webhook","email":"vcr@example.com","name":"VCR
        Test Webhook","sendType":"SEQUENTIALLY","enabled":true,"interrupted":false,"apiVersion":3,"authToken":"vcr-test-webhook-authtoken-secure-1234","events":["PAYMENT_RECEIVED","PAYMENT_OVERDUE"]}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - 9528ccc6-ce60-467a-93b0-386c2dbb4821
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"a9861c4a-176e-4996-9cc9-e8d4940f56dc","name":"VCR Test Webhook","url":"https://vcr-test.example.com/webhook","email":"vcr@example.com","enabled":true,"interrupted":false,"apiVersion":3,"hasAuthToken":true,"sendType":"SEQUENTIALLY","penalizedRequestsCount":0,"events":["PAYMENT_OVERDUE","PAYMENT_RECEIVED"],"authToken":"vcr-test-webhook-authtoken-secure-1234"}'
  recorded_at: Sat, 23 May 2026 20:38:52 GMT
recorded_with: VCR 6.4.0
