---
http_interactions:
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/webhooks
    body:
      encoding: UTF-8
      string: '{"url":"https://vcr-delete.example.com/webhook","email":"vcr@example.com","name":"VCR
        Test Webhook","sendType":"SEQUENTIALLY","enabled":true,"interrupted":false,"apiVersion":3,"authToken":"vcr-test-webhook-authtoken-secure-1234","events":["PAYMENT_RECEIVED","PAYMENT_OVERDUE"]}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - 19b4d5fa-c9e9-4fbe-a0e9-bc76d6ed33f7
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"aa79520f-7a20-4802-8bb4-20c39d991d03","name":"VCR Test Webhook","url":"https://vcr-delete.example.com/webhook","email":"vcr@example.com","enabled":true,"interrupted":false,"apiVersion":3,"hasAuthToken":true,"sendType":"SEQUENTIALLY","penalizedRequestsCount":0,"events":["PAYMENT_OVERDUE","PAYMENT_RECEIVED"],"authToken":"vcr-test-webhook-authtoken-secure-1234"}'
  recorded_at: Sat, 23 May 2026 20:38:54 GMT
- request:
    method: delete
    uri: https://sandbox.asaas.com/api/v3/webhooks/aa79520f-7a20-4802-8bb4-20c39d991d03
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"deleted":true,"id":"aa79520f-7a20-4802-8bb4-20c39d991d03"}'
  recorded_at: Sat, 23 May 2026 20:38:54 GMT
recorded_with: VCR 6.4.0
