---
http_interactions:
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/webhooks
    body:
      encoding: UTF-8
      string: '{"url":"https://vcr-retrieve.example.com/webhook","email":"vcr@example.com","name":"VCR
        Test Webhook","sendType":"SEQUENTIALLY","enabled":true,"interrupted":false,"apiVersion":3,"authToken":"vcr-test-webhook-authtoken-secure-1234","events":["PAYMENT_RECEIVED","PAYMENT_OVERDUE"]}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - ef925bfa-b790-4aa9-82a4-7f3c0bab58b6
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"04abf8f3-6545-4a3e-91a1-91532cee47b7","name":"VCR Test Webhook","url":"https://vcr-retrieve.example.com/webhook","email":"vcr@example.com","enabled":true,"interrupted":false,"apiVersion":3,"hasAuthToken":true,"sendType":"SEQUENTIALLY","penalizedRequestsCount":0,"events":["PAYMENT_OVERDUE","PAYMENT_RECEIVED"],"authToken":"vcr-test-webhook-authtoken-secure-1234"}'
  recorded_at: Sat, 23 May 2026 20:38:53 GMT
- request:
    method: get
    uri: https://sandbox.asaas.com/api/v3/webhooks/04abf8f3-6545-4a3e-91a1-91532cee47b7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"04abf8f3-6545-4a3e-91a1-91532cee47b7","name":"VCR Test Webhook","url":"https://vcr-retrieve.example.com/webhook","email":"vcr@example.com","enabled":true,"interrupted":false,"apiVersion":3,"hasAuthToken":true,"sendType":"SEQUENTIALLY","penalizedRequestsCount":0,"events":["PAYMENT_OVERDUE","PAYMENT_RECEIVED"]}'
  recorded_at: Sat, 23 May 2026 20:38:53 GMT
recorded_with: VCR 6.4.0
