---
http_interactions:
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/webhooks
    body:
      encoding: UTF-8
      string: '{"url":"https://vcr-update.example.com/webhook","email":"vcr@example.com","name":"VCR
        Test Webhook","sendType":"SEQUENTIALLY","enabled":true,"interrupted":false,"apiVersion":3,"authToken":"vcr-test-webhook-authtoken-secure-1234","events":["PAYMENT_RECEIVED","PAYMENT_OVERDUE"]}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - 1bdf9dc4-1265-435b-8d56-182106ac5352
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"794fec4b-e72a-48ca-8790-a791fbcc8aac","name":"VCR Test Webhook","url":"https://vcr-update.example.com/webhook","email":"vcr@example.com","enabled":true,"interrupted":false,"apiVersion":3,"hasAuthToken":true,"sendType":"SEQUENTIALLY","penalizedRequestsCount":0,"events":["PAYMENT_OVERDUE","PAYMENT_RECEIVED"],"authToken":"vcr-test-webhook-authtoken-secure-1234"}'
  recorded_at: Sat, 23 May 2026 20:38:53 GMT
- request:
    method: put
    uri: https://sandbox.asaas.com/api/v3/webhooks/794fec4b-e72a-48ca-8790-a791fbcc8aac
    body:
      encoding: UTF-8
      string: '{"url":"https://vcr-updated.example.com/webhook"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - 2704308d-1212-43a2-8f53-d0548cc9c3a1
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"794fec4b-e72a-48ca-8790-a791fbcc8aac","name":"VCR Test Webhook","url":"https://vcr-updated.example.com/webhook","email":"vcr@example.com","enabled":true,"interrupted":false,"apiVersion":3,"hasAuthToken":true,"sendType":"SEQUENTIALLY","penalizedRequestsCount":0,"events":["PAYMENT_OVERDUE","PAYMENT_RECEIVED"]}'
  recorded_at: Sat, 23 May 2026 20:38:53 GMT
recorded_with: VCR 6.4.0
