---
http_interactions:
- request:
    method: get
    uri: https://sandbox.asaas.com/api/v3/dunnings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
  response:
    status:
      code: 404
      message: ''
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 24 May 2026 00:29:41 GMT
- request:
    method: get
    uri: https://sandbox.asaas.com/api/v3/paymentDunnings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"object":"list","hasMore":false,"totalCount":0,"limit":10,"offset":0,"data":[]}'
  recorded_at: Sun, 24 May 2026 00:30:31 GMT
recorded_with: VCR 6.4.0
