---
http_interactions:
- request:
    method: get
    uri: https://sandbox.asaas.com/api/v3/finance/payment/statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"quantity":3,"value":650.00,"netValue":647.03}'
  recorded_at: Sat, 23 May 2026 20:18:00 GMT
recorded_with: VCR 6.4.0
