---
http_interactions:
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/customers
    body:
      encoding: UTF-8
      string: '{"name":"VCR Notification Customer","email":"vcr-notification@test.com","cpfCnpj":"28588369141"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - 1d3cced6-7602-44f2-bbec-80fd2e760fae
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"object":"customer","id":"cus_000008024674","dateCreated":"2026-05-23","name":"VCR
        Notification Customer","email":"vcr-notification@test.com","company":null,"phone":null,"mobilePhone":null,"address":null,"addressNumber":null,"complement":null,"province":null,"postalCode":null,"cpfCnpj":"28588369141","personType":"FISICA","deleted":false,"additionalEmails":null,"externalReference":null,"notificationDisabled":false,"observations":null,"municipalInscription":null,"stateInscription":null,"canDelete":true,"cannotBeDeletedReason":null,"canEdit":true,"cannotEditReason":null,"city":null,"cityName":null,"state":null,"country":"Brasil"}'
  recorded_at: Sat, 23 May 2026 20:18:01 GMT
- request:
    method: get
    uri: https://sandbox.asaas.com/api/v3/customers/cus_000008024674/notifications
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"object":"list","hasMore":false,"totalCount":8,"limit":10,"offset":0,"data":[{"object":"notification","id":"not_6vgcdmsou1u9ss16","customer":"cus_000008024674","enabled":true,"emailEnabledForProvider":true,"smsEnabledForProvider":false,"emailEnabledForCustomer":true,"smsEnabledForCustomer":false,"phoneCallEnabledForCustomer":false,"whatsappEnabledForCustomer":false,"event":"PAYMENT_RECEIVED","scheduleOffset":0,"deleted":false},{"object":"notification","id":"not_p9653oqx7heoaskb","customer":"cus_000008024674","enabled":true,"emailEnabledForProvider":true,"smsEnabledForProvider":false,"emailEnabledForCustomer":true,"smsEnabledForCustomer":false,"phoneCallEnabledForCustomer":false,"whatsappEnabledForCustomer":false,"event":"PAYMENT_OVERDUE","scheduleOffset":0,"deleted":false},{"object":"notification","id":"not_4glnz9cle77vuhgl","customer":"cus_000008024674","enabled":true,"emailEnabledForProvider":fals[...]
