---
http_interactions:
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/customers
    body:
      encoding: UTF-8
      string: '{"name":"VCR Notification Update","email":"vcr-notif-update@test.com","cpfCnpj":"82860600752"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - 1af39c25-c143-4f3a-9097-e52bcca405ac
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"object":"customer","id":"cus_000008024675","dateCreated":"2026-05-23","name":"VCR
        Notification Update","email":"vcr-notif-update@test.com","company":null,"phone":null,"mobilePhone":null,"address":null,"addressNumber":null,"complement":null,"province":null,"postalCode":null,"cpfCnpj":"82860600752","personType":"FISICA","deleted":false,"additionalEmails":null,"externalReference":null,"notificationDisabled":false,"observations":null,"municipalInscription":null,"stateInscription":null,"canDelete":true,"cannotBeDeletedReason":null,"canEdit":true,"cannotEditReason":null,"city":null,"cityName":null,"state":null,"country":"Brasil"}'
  recorded_at: Sat, 23 May 2026 20:18:02 GMT
- request:
    method: get
    uri: https://sandbox.asaas.com/api/v3/customers/cus_000008024675/notifications
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"object":"list","hasMore":false,"totalCount":8,"limit":10,"offset":0,"data":[{"object":"notification","id":"not_6xqvhxcnqvdvqri9","customer":"cus_000008024675","enabled":true,"emailEnabledForProvider":true,"smsEnabledForProvider":false,"emailEnabledForCustomer":true,"smsEnabledForCustomer":false,"phoneCallEnabledForCustomer":false,"whatsappEnabledForCustomer":false,"event":"PAYMENT_RECEIVED","scheduleOffset":0,"deleted":false},{"object":"notification","id":"not_gxr4ktos5a1q7xzx","customer":"cus_000008024675","enabled":true,"emailEnabledForProvider":true,"smsEnabledForProvider":false,"emailEnabledForCustomer":true,"smsEnabledForCustomer":false,"phoneCallEnabledForCustomer":false,"whatsappEnabledForCustomer":false,"event":"PAYMENT_OVERDUE","scheduleOffset":0,"deleted":false},{"object":"notification","id":"not_wo6fy81a0o0i1t8x","customer":"cus_000008024675","enabled":true,"emailEnabledForProvider":fals[...]
- request:
    method: put
    uri: https://sandbox.asaas.com/api/v3/notifications/not_6xqvhxcnqvdvqri9
    body:
      encoding: UTF-8
      string: '{"enabled":false}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - 89bc6cea-3080-4d3b-8aaf-0617318cc2c2
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Ratelimit-Reset:
      - '9'
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: '{"object":"notification","id":"not_6xqvhxcnqvdvqri9","customer":"cus_000008024675","enabled":false,"emailEnabledForProvider":true,"smsEnabledForProvider":false,"emailEnabledForCustomer":true,"smsEnabledForCustomer":false,"phoneCallEnabledForCustomer":false,"whatsappEnabledForCustomer":false,"event":"PAYMENT_RECEIVED","scheduleOffset":0,"deleted":false}'
  recorded_at: Sat, 23 May 2026 20:18:02 GMT
recorded_with: VCR 6.4.0
