---
http_interactions:
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/paymentLinks
    body:
      encoding: UTF-8
      string: '{"name":"VCR Test Link","billingType":"UNDEFINED","chargeType":"DETACHED","value":75.0,"endDate":"2026-12-31","dueDateLimitDays":5}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - c68fbfb0-9f28-493e-83c4-e54b80bb319c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"sake3y8zw6h24l5w","name":"VCR Test Link","value":75.0,"active":true,"chargeType":"DETACHED","url":"https://sandbox.asaas.com/c/sake3y8zw6h24l5w","billingType":"UNDEFINED","subscriptionCycle":null,"description":null,"endDate":"2026-12-31","deleted":false,"viewCount":0,"maxInstallmentCount":1,"dueDateLimitDays":5,"notificationEnabled":true,"isAddressRequired":null,"externalReference":null}'
  recorded_at: Sat, 23 May 2026 20:20:56 GMT
recorded_with: VCR 6.4.0
