---
http_interactions:
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/paymentLinks
    body:
      encoding: UTF-8
      string: '{"name":"VCR Delete Link","billingType":"UNDEFINED","chargeType":"DETACHED","value":10.0,"endDate":"2026-12-31","dueDateLimitDays":5}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - 569b51a9-0c66-495e-a788-adafc5784a32
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"trop7wa05zil3vtm","name":"VCR Delete Link","value":10.0,"active":true,"chargeType":"DETACHED","url":"https://sandbox.asaas.com/c/trop7wa05zil3vtm","billingType":"UNDEFINED","subscriptionCycle":null,"description":null,"endDate":"2026-12-31","deleted":false,"viewCount":0,"maxInstallmentCount":1,"dueDateLimitDays":5,"notificationEnabled":true,"isAddressRequired":null,"externalReference":null}'
  recorded_at: Sat, 23 May 2026 20:20:57 GMT
- request:
    method: delete
    uri: https://sandbox.asaas.com/api/v3/paymentLinks/trop7wa05zil3vtm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"deleted":true,"id":"trop7wa05zil3vtm"}'
  recorded_at: Sat, 23 May 2026 20:20:58 GMT
recorded_with: VCR 6.4.0
