---
http_interactions:
- request:
    method: get
    uri: https://sandbox.asaas.com/api/v3/paymentLinks?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"object":"list","hasMore":false,"totalCount":2,"limit":5,"offset":0,"data":[{"id":"wqq2duqpgybzbziz","name":"VCR
        Retrieve Link","value":75.00,"active":true,"chargeType":"DETACHED","url":"https://sandbox.asaas.com/c/wqq2duqpgybzbziz","billingType":"UNDEFINED","subscriptionCycle":null,"description":null,"endDate":"2026-12-31","deleted":false,"viewCount":0,"maxInstallmentCount":1,"dueDateLimitDays":5,"notificationEnabled":true,"isAddressRequired":null,"externalReference":null},{"id":"sake3y8zw6h24l5w","name":"VCR
        Test Link","value":75.00,"active":true,"chargeType":"DETACHED","url":"https://sandbox.asaas.com/c/sake3y8zw6h24l5w","billingType":"UNDEFINED","subscriptionCycle":null,"description":null,"endDate":"2026-12-31","deleted":false,"viewCount":0,"maxInstallmentCount":1,"dueDateLimitDays":5,"notificationEnabled":true,"isAddressRequired":null,"externalReference":null}]}'
  recorded_at: Sat, 23 May 2026 20:20:57 GMT
recorded_with: VCR 6.4.0
