---
http_interactions:
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/paymentLinks
    body:
      encoding: UTF-8
      string: '{"name":"VCR Retrieve Link","billingType":"UNDEFINED","chargeType":"DETACHED","value":75.0,"endDate":"2026-12-31","dueDateLimitDays":5}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - a9631644-556f-4929-ba66-f6b494dd56db
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"wqq2duqpgybzbziz","name":"VCR Retrieve Link","value":75.0,"active":true,"chargeType":"DETACHED","url":"https://sandbox.asaas.com/c/wqq2duqpgybzbziz","billingType":"UNDEFINED","subscriptionCycle":null,"description":null,"endDate":"2026-12-31","deleted":false,"viewCount":0,"maxInstallmentCount":1,"dueDateLimitDays":5,"notificationEnabled":true,"isAddressRequired":null,"externalReference":null}'
  recorded_at: Sat, 23 May 2026 20:20:56 GMT
- request:
    method: get
    uri: https://sandbox.asaas.com/api/v3/paymentLinks/wqq2duqpgybzbziz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"wqq2duqpgybzbziz","name":"VCR Retrieve Link","value":75.00,"active":true,"chargeType":"DETACHED","url":"https://sandbox.asaas.com/c/wqq2duqpgybzbziz","billingType":"UNDEFINED","subscriptionCycle":null,"description":null,"endDate":"2026-12-31","deleted":false,"viewCount":0,"maxInstallmentCount":1,"dueDateLimitDays":5,"notificationEnabled":true,"isAddressRequired":null,"externalReference":null}'
  recorded_at: Sat, 23 May 2026 20:20:57 GMT
recorded_with: VCR 6.4.0
