---
http_interactions:
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/paymentLinks
    body:
      encoding: UTF-8
      string: '{"name":"VCR Update Link","billingType":"UNDEFINED","chargeType":"DETACHED","value":75.0,"endDate":"2026-12-31","dueDateLimitDays":5}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - 78f5111b-29ac-48b8-9fc1-80fc138a56fe
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"8lhfbnrvnty9g3q3","name":"VCR Update Link","value":75.0,"active":true,"chargeType":"DETACHED","url":"https://sandbox.asaas.com/c/8lhfbnrvnty9g3q3","billingType":"UNDEFINED","subscriptionCycle":null,"description":null,"endDate":"2026-12-31","deleted":false,"viewCount":0,"maxInstallmentCount":1,"dueDateLimitDays":5,"notificationEnabled":true,"isAddressRequired":null,"externalReference":null}'
  recorded_at: Sat, 23 May 2026 20:20:57 GMT
- request:
    method: put
    uri: https://sandbox.asaas.com/api/v3/paymentLinks/8lhfbnrvnty9g3q3
    body:
      encoding: UTF-8
      string: '{"name":"VCR Updated Link"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - c21a2d1b-c624-41d9-9dec-8ee41d764880
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"8lhfbnrvnty9g3q3","name":"VCR Updated Link","value":75.00,"active":true,"chargeType":"DETACHED","url":"https://sandbox.asaas.com/c/8lhfbnrvnty9g3q3","billingType":"UNDEFINED","subscriptionCycle":null,"description":null,"endDate":"2026-12-31","deleted":false,"viewCount":0,"maxInstallmentCount":1,"dueDateLimitDays":5,"notificationEnabled":true,"isAddressRequired":null,"externalReference":null}'
  recorded_at: Sat, 23 May 2026 20:20:57 GMT
recorded_with: VCR 6.4.0
