---
http_interactions:
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/sandbox/myAccount/approve
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - 4c0505f1-c2a6-495c-abdf-473c3b90c8c9
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"ff397d99-8c1a-4b2c-b78e-1130d0c0bf98","commercialInfo":"APPROVED","bankAccountInfo":"APPROVED","documentation":"APPROVED","general":"APPROVED"}'
  recorded_at: Sat, 23 May 2026 21:19:45 GMT
recorded_with: VCR 6.4.0
