---
http_interactions:
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/customers
    body:
      encoding: UTF-8
      string: '{"name":"Sandbox Confirm Customer","email":"sandbox-confirm@test.com","cpfCnpj":"98765432100"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - 9db8a9b9-9241-440a-98f6-39ac0a6d0bda
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"object":"customer","id":"cus_000008024856","dateCreated":"2026-05-23","name":"Sandbox
        Confirm Customer","email":"sandbox-confirm@test.com","company":null,"phone":null,"mobilePhone":null,"address":null,"addressNumber":null,"complement":null,"province":null,"postalCode":null,"cpfCnpj":"98765432100","personType":"FISICA","deleted":false,"additionalEmails":null,"externalReference":null,"notificationDisabled":false,"observations":null,"municipalInscription":null,"stateInscription":null,"canDelete":true,"cannotBeDeletedReason":null,"canEdit":true,"cannotEditReason":null,"city":null,"cityName":null,"state":null,"country":"Brasil"}'
  recorded_at: Sat, 23 May 2026 21:19:46 GMT
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/payments
    body:
      encoding: UTF-8
      string: '{"customer":"cus_000008024856","billingType":"BOLETO","value":10.0,"dueDate":"2026-12-31"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - a4aa8403-2805-47c8-aee4-9c92fab1f10d
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Ratelimit-Reset:
      - '9'
      Ratelimit-Limit:
      - '100'
      Ratelimit-Remaining:
      - '99'
    body:
      encoding: UTF-8
      string: '{"object":"payment","id":"pay_q6k78jdtfdcumrnu","dateCreated":"2026-05-23","customer":"cus_000008024856","checkoutSession":null,"paymentLink":null,"value":10.0,"netValue":9.01,"originalValue":null,"interestValue":null,"description":null,"billingType":"BOLETO","canBePaidAfterDueDate":true,"pixTransaction":null,"status":"PENDING","dueDate":"2026-12-31","originalDueDate":"2026-12-31","paymentDate":null,"clientPaymentDate":null,"installmentNumber":null,"invoiceUrl":"https://sandbox.asaas.com/i/q6k78jdtfdcumrnu","invoiceNumber":"14929330","externalReference":null,"deleted":false,"anticipated":false,"anticipable":false,"creditDate":null,"estimatedCreditDate":null,"transactionReceiptUrl":null,"nossoNumero":"12456866","bankSlipUrl":"https://sandbox.asaas.com/b/pdf/q6k78jdtfdcumrnu","lastInvoiceViewedDate":null,"lastBankSlipViewedDate":null,"discount":{"value":0.00,"limitDate":null,"dueDateLimitDays":0,"type":"FIXED"},"fine":{"value":0.00,"type":"FIXED"},"interest":{"value":0.00,"type":"PERCENTAGE"},"postalService":false,"escrow":null,"refunds":null}'
  recorded_at: Sat, 23 May 2026 21:19:46 GMT
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/sandbox/payment/pay_q6k78jdtfdcumrnu/confirm
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - 5ff808b5-e7a2-4146-aac6-e4e16836296d
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"object":"payment","id":"pay_q6k78jdtfdcumrnu","dateCreated":"2026-05-23","customer":"cus_000008024856","checkoutSession":null,"paymentLink":null,"value":10.00,"netValue":9.01,"originalValue":null,"interestValue":null,"description":null,"billingType":"BOLETO","canBePaidAfterDueDate":true,"confirmedDate":"2026-05-23","pixTransaction":null,"status":"RECEIVED","dueDate":"2026-12-31","originalDueDate":"2026-12-31","paymentDate":"2026-05-23","clientPaymentDate":"2026-05-23","installmentNumber":null,"invoiceUrl":"https://sandbox.asaas.com/i/q6k78jdtfdcumrnu","invoiceNumber":"14929330","externalReference":null,"deleted":false,"anticipated":false,"anticipable":false,"creditDate":"2026-05-23","estimatedCreditDate":"2026-05-23","transactionReceiptUrl":"https://sandbox.asaas.com/comprovantes/h/UEFZTUVOVF9SRUNFSVZFRDpwYXlfcTZrNzhqZHRmZGN1bXJudQ%3D%3D","nossoNumero":"12456866","bankSlipUrl":"https://sandbox.asaas.com/b/pdf/q6k78jdtfdcumrnu","lastInvoiceViewedDate":null,"lastBankSlipViewedDate":null,"discount":{"value":0.00,"limitDate":null,"dueDateLimitDays":0,"type":"FIXED"},"fine":{"value":0.00,"type":"FIXED"},"interest":{"value":0.00,"type":"PERCENTAGE"},"postalService":false,"escrow":null,"refunds":null}'
  recorded_at: Sat, 23 May 2026 21:19:47 GMT
recorded_with: VCR 6.4.0
