---
http_interactions:
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/customers
    body:
      encoding: UTF-8
      string: '{"name":"Sandbox Overdue Customer","email":"sandbox-overdue@test.com","cpfCnpj":"30621143049"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - 43c7f29e-7d52-4742-a4f4-93159180c2b4
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"object":"customer","id":"cus_000008024857","dateCreated":"2026-05-23","name":"Sandbox
        Overdue Customer","email":"sandbox-overdue@test.com","company":null,"phone":null,"mobilePhone":null,"address":null,"addressNumber":null,"complement":null,"province":null,"postalCode":null,"cpfCnpj":"30621143049","personType":"FISICA","deleted":false,"additionalEmails":null,"externalReference":null,"notificationDisabled":false,"observations":null,"municipalInscription":null,"stateInscription":null,"canDelete":true,"cannotBeDeletedReason":null,"canEdit":true,"cannotEditReason":null,"city":null,"cityName":null,"state":null,"country":"Brasil"}'
  recorded_at: Sat, 23 May 2026 21:19:47 GMT
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/payments
    body:
      encoding: UTF-8
      string: '{"customer":"cus_000008024857","billingType":"BOLETO","value":10.0,"dueDate":"2026-12-31"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - 6acc9ff0-2650-4a51-9412-635f37c56816
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Ratelimit-Reset:
      - '8'
      Ratelimit-Limit:
      - '100'
      Ratelimit-Remaining:
      - '98'
    body:
      encoding: UTF-8
      string: '{"object":"payment","id":"pay_nxeg7tg1fw4q52ci","dateCreated":"2026-05-23","customer":"cus_000008024857","checkoutSession":null,"paymentLink":null,"value":10.0,"netValue":9.01,"originalValue":null,"interestValue":null,"description":null,"billingType":"BOLETO","canBePaidAfterDueDate":true,"pixTransaction":null,"status":"PENDING","dueDate":"2026-12-31","originalDueDate":"2026-12-31","paymentDate":null,"clientPaymentDate":null,"installmentNumber":null,"invoiceUrl":"https://sandbox.asaas.com/i/nxeg7tg1fw4q52ci","invoiceNumber":"14929331","externalReference":null,"deleted":false,"anticipated":false,"anticipable":false,"creditDate":null,"estimatedCreditDate":null,"transactionReceiptUrl":null,"nossoNumero":"12456867","bankSlipUrl":"https://sandbox.asaas.com/b/pdf/nxeg7tg1fw4q52ci","lastInvoiceViewedDate":null,"lastBankSlipViewedDate":null,"discount":{"value":0.00,"limitDate":null,"dueDateLimitDays":0,"type":"FIXED"},"fine":{"value":0.00,"type":"FIXED"},"interest":{"value":0.00,"type":"PERCENTAGE"},"postalService":false,"escrow":null,"refunds":null}'
  recorded_at: Sat, 23 May 2026 21:19:48 GMT
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/sandbox/payment/pay_nxeg7tg1fw4q52ci/overdue
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - 2ca5ea56-17eb-4fb6-a48b-6f6be8f18fcc
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
  [...]
