---
http_interactions:
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/customers
    body:
      encoding: UTF-8
      string: '{"name":"VCR Subscription Customer","email":"vcr-sub-create@test.com","cpfCnpj":"05181930557"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - 948ad4fd-93f2-4bb4-b5d8-95c471881df2
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"object":"customer","id":"cus_000008024676","dateCreated":"2026-05-23","name":"VCR
        Subscription Customer","email":"vcr-sub-create@test.com","company":null,"phone":null,"mobilePhone":null,"address":null,"addressNumber":null,"complement":null,"province":null,"postalCode":null,"cpfCnpj":"05181930557","personType":"FISICA","deleted":false,"additionalEmails":null,"externalReference":null,"notificationDisabled":false,"observations":null,"municipalInscription":null,"stateInscription":null,"canDelete":true,"cannotBeDeletedReason":null,"canEdit":true,"cannotEditReason":null,"city":null,"cityName":null,"state":null,"country":"Brasil"}'
  recorded_at: Sat, 23 May 2026 20:18:05 GMT
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/subscriptions
    body:
      encoding: UTF-8
      string: '{"customer":"cus_000008024676","billingType":"BOLETO","value":49.9,"nextDueDate":"2026-12-31","cycle":"MONTHLY"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - fdd27822-b05f-43c3-b836-9a353757b664
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"object":"subscription","id":"sub_zr1rhhsamq3xl49g","dateCreated":"2026-05-23","customer":"cus_000008024676","paymentLink":null,"value":49.90,"nextDueDate":"2027-01-31","cycle":"MONTHLY","description":null,"billingType":"BOLETO","deleted":false,"status":"ACTIVE","externalReference":null,"checkoutSession":null,"sendPaymentByPostalService":false,"fine":{"value":0,"type":"FIXED"},"interest":{"value":0,"type":"PERCENTAGE"},"split":null}'
  recorded_at: Sat, 23 May 2026 20:18:06 GMT
recorded_with: VCR 6.4.0
