---
http_interactions:
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/customers
    body:
      encoding: UTF-8
      string: '{"name":"VCR Subscription Delete","email":"vcr-sub-delete@test.com","cpfCnpj":"09750971728"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - 4452a9bc-7dd1-485e-8802-cf038bc382e3
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"object":"customer","id":"cus_000008024679","dateCreated":"2026-05-23","name":"VCR
        Subscription Delete","email":"vcr-sub-delete@test.com","company":null,"phone":null,"mobilePhone":null,"address":null,"addressNumber":null,"complement":null,"province":null,"postalCode":null,"cpfCnpj":"09750971728","personType":"FISICA","deleted":false,"additionalEmails":null,"externalReference":null,"notificationDisabled":false,"observations":null,"municipalInscription":null,"stateInscription":null,"canDelete":true,"cannotBeDeletedReason":null,"canEdit":true,"cannotEditReason":null,"city":null,"cityName":null,"state":null,"country":"Brasil"}'
  recorded_at: Sat, 23 May 2026 20:18:10 GMT
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/subscriptions
    body:
      encoding: UTF-8
      string: '{"customer":"cus_000008024679","billingType":"BOLETO","value":9.9,"nextDueDate":"2026-12-31","cycle":"MONTHLY"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - 28d7e2e0-b86c-40fb-ab2d-a7938a9b3331
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"object":"subscription","id":"sub_vics88lms8la6syy","dateCreated":"2026-05-23","customer":"cus_000008024679","paymentLink":null,"value":9.90,"nextDueDate":"2027-01-31","cycle":"MONTHLY","description":null,"billingType":"BOLETO","deleted":false,"status":"ACTIVE","externalReference":null,"checkoutSession":null,"sendPaymentByPostalService":false,"fine":{"value":0,"type":"FIXED"},"interest":{"value":0,"type":"PERCENTAGE"},"split":null}'
  recorded_at: Sat, 23 May 2026 20:18:10 GMT
- request:
    method: delete
    uri: https://sandbox.asaas.com/api/v3/subscriptions/sub_vics88lms8la6syy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"deleted":true,"id":"sub_vics88lms8la6syy"}'
  recorded_at: Sat, 23 May 2026 20:18:11 GMT
recorded_with: VCR 6.4.0
