---
http_interactions:
- request:
    method: get
    uri: https://sandbox.asaas.com/api/v3/subscriptions?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"object":"list","hasMore":false,"totalCount":2,"limit":5,"offset":0,"data":[{"object":"subscription","id":"sub_g3hy6nnvcwgl1a9q","dateCreated":"2026-05-23","customer":"cus_000008024677","paymentLink":null,"value":29.9,"nextDueDate":"2027-01-31","cycle":"MONTHLY","description":null,"billingType":"BOLETO","deleted":false,"status":"ACTIVE","externalReference":null,"checkoutSession":null,"sendPaymentByPostalService":false,"fine":{"value":0.00,"type":"FIXED"},"interest":{"value":0.00,"type":"PERCENTAGE"},"split":null},{"object":"subscription","id":"sub_zr1rhhsamq3xl49g","dateCreated":"2026-05-23","customer":"cus_000008024676","paymentLink":null,"value":49.9,"nextDueDate":"2027-01-31","cycle":"MONTHLY","description":null,"billingType":"BOLETO","deleted":false,"status":"ACTIVE","externalReference":null,"checkoutSession":null,"sendPaymentByPostalService":false,"fine":{"value":0.00,"type":"FIXED"},"interest":{"value":0.00,"type":"PERCENTAGE"},"split":null}]}'
  recorded_at: Sat, 23 May 2026 20:18:08 GMT
recorded_with: VCR 6.4.0
