---
http_interactions:
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/customers
    body:
      encoding: UTF-8
      string: '{"name":"VCR Subscription Retrieve","email":"vcr-sub-retrieve@test.com","cpfCnpj":"81109406177"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - 8724d24e-454f-45e1-a1f5-882fb4ef406a
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"object":"customer","id":"cus_000008024677","dateCreated":"2026-05-23","name":"VCR
        Subscription Retrieve","email":"vcr-sub-retrieve@test.com","company":null,"phone":null,"mobilePhone":null,"address":null,"addressNumber":null,"complement":null,"province":null,"postalCode":null,"cpfCnpj":"81109406177","personType":"FISICA","deleted":false,"additionalEmails":null,"externalReference":null,"notificationDisabled":false,"observations":null,"municipalInscription":null,"stateInscription":null,"canDelete":true,"cannotBeDeletedReason":null,"canEdit":true,"cannotEditReason":null,"city":null,"cityName":null,"state":null,"country":"Brasil"}'
  recorded_at: Sat, 23 May 2026 20:18:07 GMT
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/subscriptions
    body:
      encoding: UTF-8
      string: '{"customer":"cus_000008024677","billingType":"BOLETO","value":29.9,"nextDueDate":"2026-12-31","cycle":"MONTHLY"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - 4942d52e-f5cb-4bf9-bbe3-7f26836c8964
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"object":"subscription","id":"sub_g3hy6nnvcwgl1a9q","dateCreated":"2026-05-23","customer":"cus_000008024677","paymentLink":null,"value":29.90,"nextDueDate":"2027-01-31","cycle":"MONTHLY","description":null,"billingType":"BOLETO","deleted":false,"status":"ACTIVE","externalReference":null,"checkoutSession":null,"sendPaymentByPostalService":false,"fine":{"value":0,"type":"FIXED"},"interest":{"value":0,"type":"PERCENTAGE"},"split":null}'
  recorded_at: Sat, 23 May 2026 20:18:07 GMT
- request:
    method: get
    uri: https://sandbox.asaas.com/api/v3/subscriptions/sub_g3hy6nnvcwgl1a9q
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"object":"subscription","id":"sub_g3hy6nnvcwgl1a9q","dateCreated":"2026-05-23","customer":"cus_000008024677","paymentLink":null,"value":29.9,"nextDueDate":"2027-01-31","cycle":"MONTHLY","description":null,"billingType":"BOLETO","deleted":false,"status":"ACTIVE","externalReference":null,"checkoutSession":null,"sendPaymentByPostalService":false,"fine":{"value":0.00,"type":"FIXED"},"interest":{"value":0.00,"type":"PERCENTAGE"},"split":null}'
  recorded_at: Sat, 23 May 2026 20:18:08 GMT
recorded_with: VCR 6.4.0
