---
http_interactions:
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/customers
    body:
      encoding: UTF-8
      string: '{"name":"VCR Subscription Update","email":"vcr-sub-update@test.com","cpfCnpj":"35932640804"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - fc48023c-0229-40db-9c19-8085b4e87dcd
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"object":"customer","id":"cus_000008024678","dateCreated":"2026-05-23","name":"VCR
        Subscription Update","email":"vcr-sub-update@test.com","company":null,"phone":null,"mobilePhone":null,"address":null,"addressNumber":null,"complement":null,"province":null,"postalCode":null,"cpfCnpj":"35932640804","personType":"FISICA","deleted":false,"additionalEmails":null,"externalReference":null,"notificationDisabled":false,"observations":null,"municipalInscription":null,"stateInscription":null,"canDelete":true,"cannotBeDeletedReason":null,"canEdit":true,"cannotEditReason":null,"city":null,"cityName":null,"state":null,"country":"Brasil"}'
  recorded_at: Sat, 23 May 2026 20:18:08 GMT
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/subscriptions
    body:
      encoding: UTF-8
      string: '{"customer":"cus_000008024678","billingType":"BOLETO","value":19.9,"nextDueDate":"2026-12-31","cycle":"MONTHLY"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - af9cac11-82c9-4b90-8ec9-712c1d698e6f
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"object":"subscription","id":"sub_1f9rsx50b6ajewgy","dateCreated":"2026-05-23","customer":"cus_000008024678","paymentLink":null,"value":19.90,"nextDueDate":"2027-01-31","cycle":"MONTHLY","description":null,"billingType":"BOLETO","deleted":false,"status":"ACTIVE","externalReference":null,"checkoutSession":null,"sendPaymentByPostalService":false,"fine":{"value":0,"type":"FIXED"},"interest":{"value":0,"type":"PERCENTAGE"},"split":null}'
  recorded_at: Sat, 23 May 2026 20:18:09 GMT
- request:
    method: put
    uri: https://sandbox.asaas.com/api/v3/subscriptions/sub_1f9rsx50b6ajewgy
    body:
      encoding: UTF-8
      string: '{"value":39.9}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - 147a8689-b4a4-49e6-9791-53e587d8f509
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"object":"subscription","id":"sub_1f9rsx50b6ajewgy","dateCreated":"2026-05-23","customer":"cus_000008024678","paymentLink":null,"value":39.90,"nextDueDate":"2027-01-31","cycle":"MONTHLY","description":null,"billingType":"BOLETO","deleted":false,"status":"ACTIVE","externalReference":null,"checkoutSession":null,"sendPaymentByPostalService":false,"fine":{"value":0.00,"type":"FIXED"},"interest":{"value":0.00,"type":"PERCENTAGE"},"split":null}'
  recorded_at: Sat, 23 May 2026 20:18:09 GMT
recorded_with: VCR 6.4.0
