---
http_interactions:
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/checkouts
    body:
      encoding: UTF-8
      string: '{"billingTypes":["CREDIT_CARD","PIX"],"chargeTypes":["DETACHED"],"name":"VCR
        Checkout","endDate":"2026-12-31","callback":{"successUrl":"https://example.com/success","cancelUrl":"https://example.com/cancel","autoRedirect":false},"items":[{"name":"VCR
        Item","description":"Test item","quantity":1,"value":150.0}]}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - cabce066-f50f-4876-b05e-2a7215379666
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"fb1d35fc-f26a-4dbc-a9ac-72d7eba2f177","link":"https://sandbox.asaas.com/checkoutSession/show/fb1d35fc-f26a-4dbc-a9ac-72d7eba2f177","status":"ACTIVE","minutesToExpire":1440,"externalReference":null,"billingTypes":["CREDIT_CARD","PIX"],"chargeTypes":["DETACHED"],"callback":{"cancelUrl":"https://example.com/cancel","successUrl":"https://example.com/success","expiredUrl":null},"items":[{"name":"VCR
        Item","description":"Test item","externalReference":null,"quantity":1,"value":150.00}],"subscription":null,"installment":null,"split":null,"customer":null,"customerData":null}'
  recorded_at: Sat, 23 May 2026 20:41:00 GMT
recorded_with: VCR 6.4.0
