---
http_interactions:
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/customers
    body:
      encoding: UTF-8
      string: '{"name":"VCR Payment Customer","email":"vcr-pay-create@test.com","cpfCnpj":"98765432100"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - bef8c76e-f55c-40e2-802a-159b525ce3c7
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"object":"customer","id":"cus_000008024488","dateCreated":"2026-05-23","name":"VCR
        Payment Customer","email":"vcr-pay-create@test.com","company":null,"phone":null,"mobilePhone":null,"address":null,"addressNumber":null,"complement":null,"province":null,"postalCode":null,"cpfCnpj":"98765432100","personType":"FISICA","deleted":false,"additionalEmails":null,"externalReference":null,"notificationDisabled":false,"observations":null,"municipalInscription":null,"stateInscription":null,"canDelete":true,"cannotBeDeletedReason":null,"canEdit":true,"cannotEditReason":null,"city":null,"cityName":null,"state":null,"country":"Brasil"}'
  recorded_at: Sat, 23 May 2026 19:29:10 GMT
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/payments
    body:
      encoding: UTF-8
      string: '{"customer":"cus_000008024488","billingType":"BOLETO","value":100.0,"dueDate":"2026-12-31"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - 594027c8-97f7-4b2c-b2a5-2f42fe92241c
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Ratelimit-Reset:
      - '9'
      Ratelimit-Limit:
      - '100'
      Ratelimit-Remaining:
      - '99'
    body:
      encoding: UTF-8
      string: '{"object":"payment","id":"pay_or43devzj3xxext9","dateCreated":"2026-05-23","customer":"cus_000008024488","checkoutSession":null,"paymentLink":null,"value":100.0,"netValue":99.01,"originalValue":null,"interestValue":null,"description":null,"billingType":"BOLETO","canBePaidAfterDueDate":true,"pixTransaction":null,"status":"PENDING","dueDate":"2026-12-31","originalDueDate":"2026-12-31","paymentDate":null,"clientPaymentDate":null,"installmentNumber":null,"invoiceUrl":"https://sandbox.asaas.com/i/or43devzj3xxext9","invoiceNumber":"14928546","externalReference":null,"deleted":false,"anticipated":false,"anticipable":false,"creditDate":null,"estimatedCreditDate":null,"transactionReceiptUrl":null,"nossoNumero":"12456498","bankSlipUrl":"https://sandbox.asaas.com/b/pdf/or43devzj3xxext9","lastInvoiceViewedDate":null,"lastBankSlipViewedDate":null,"discount":{"value":0.00,"limitDate":null,"dueDateLimitDays":0,"type":"FIXED"},"fine":{"value":0.00,"type":"FIXED"},"interest":{"value":0.00,"type":"PERCENTAGE"},"postalService":false,"escrow":null,"refunds":null}'
  recorded_at: Sat, 23 May 2026 19:29:11 GMT
recorded_with: VCR 6.4.0
