---
http_interactions:
- request:
    method: get
    uri: https://sandbox.asaas.com/api/v3/payments?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Ratelimit-Remaining:
      - '139'
      Ratelimit-Reset:
      - '59'
      Ratelimit-Limit:
      - '140'
    body:
      encoding: UTF-8
      string: '{"object":"list","hasMore":false,"totalCount":0,"limit":5,"offset":0,"data":[]}'
  recorded_at: Sat, 23 May 2026 19:25:11 GMT
recorded_with: VCR 6.4.0
