---
http_interactions:
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/customers
    body:
      encoding: UTF-8
      string: '{"name":"VCR Payment Customer Retrieve","email":"vcr-pay-retrieve@test.com","cpfCnpj":"30621143049"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - 9453c8da-715d-4584-8ba2-aa73f693c0e3
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"object":"customer","id":"cus_000008024489","dateCreated":"2026-05-23","name":"VCR
        Payment Customer Retrieve","email":"vcr-pay-retrieve@test.com","company":null,"phone":null,"mobilePhone":null,"address":null,"addressNumber":null,"complement":null,"province":null,"postalCode":null,"cpfCnpj":"30621143049","personType":"FISICA","deleted":false,"additionalEmails":null,"externalReference":null,"notificationDisabled":false,"observations":null,"municipalInscription":null,"stateInscription":null,"canDelete":true,"cannotBeDeletedReason":null,"canEdit":true,"cannotEditReason":null,"city":null,"cityName":null,"state":null,"country":"Brasil"}'
  recorded_at: Sat, 23 May 2026 19:29:11 GMT
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/payments
    body:
      encoding: UTF-8
      string: '{"customer":"cus_000008024489","billingType":"BOLETO","value":50.0,"dueDate":"2026-12-31"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
      Idempotency-Key:
      - bc9794a6-6af7-49c8-ad93-44a8947afc3a
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Ratelimit-Reset:
      - '8'
      Ratelimit-Limit:
      - '100'
      Ratelimit-Remaining:
      - '98'
    body:
      encoding: UTF-8
      string: '{"object":"payment","id":"pay_nn7ii1u1jbqy7yyh","dateCreated":"2026-05-23","customer":"cus_000008024489","checkoutSession":null,"paymentLink":null,"value":50.0,"netValue":49.01,"originalValue":null,"interestValue":null,"description":null,"billingType":"BOLETO","canBePaidAfterDueDate":true,"pixTransaction":null,"status":"PENDING","dueDate":"2026-12-31","originalDueDate":"2026-12-31","paymentDate":null,"clientPaymentDate":null,"installmentNumber":null,"invoiceUrl":"https://sandbox.asaas.com/i/nn7ii1u1jbqy7yyh","invoiceNumber":"14928548","externalReference":null,"deleted":false,"anticipated":false,"anticipable":false,"creditDate":null,"estimatedCreditDate":null,"transactionReceiptUrl":null,"nossoNumero":"12456500","bankSlipUrl":"https://sandbox.asaas.com/b/pdf/nn7ii1u1jbqy7yyh","lastInvoiceViewedDate":null,"lastBankSlipViewedDate":null,"discount":{"value":0.00,"limitDate":null,"dueDateLimitDays":0,"type":"FIXED"},"fine":{"value":0.00,"type":"FIXED"},"interest":{"value":0.00,"type":"PERCENTAGE"},"postalService":false,"escrow":null,"refunds":null}'
  recorded_at: Sat, 23 May 2026 19:29:12 GMT
- request:
    method: get
    uri: https://sandbox.asaas.com/api/v3/payments/pay_nn7ii1u1jbqy7yyh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<ASAAS_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Ratelimit-Remaining:
      - '99'
      Ratelimit-Reset:
      - '59'
      Ratelimit-Limit:
      - '100'
  [...]
